div.bannerAbout{
  font-family: 'Fjalla One', sans-serif;
text-align: center;

text-shadow: 4px 2px 5px #000;
color: white;
width: 100%;
background-image: url(../img/bg3.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
background-position: center;
height: 350px;
overflow: hidden;
margin-left: auto;
margin-right: auto;
box-shadow: 4px 4px 5px #000;
margin-bottom: 50px;

}

div.bannerAbout h1{

margin-top: 120px;
font-size: 70px;
}
div.aboutContent{
width: 90%;
margin-right: auto;
margin-left: auto;
background-color: #262626;
padding: 30px;
color: grey;
display: grid;
grid-template-columns: 1fr 3fr;
grid-column-gap: 20px;
}
div.gridd{

  display: inline-flex;
}

div.gridd div{

  margin-right: 10px;
}

div.pixFrame{

  height: 450px;
  overflow: hidden;
border-style: solid;
border-width: thick;
border-color: #202020;
box-shadow: 3px 2px 8px #000;
}
div.twitterFrame{
  height: 200px;
  overflow: scroll;

box-shadow: 3px 2px 8px #000;
}
div.pixFrame img{
  width: auto;
  height: 450px;
  margin-left: -210px;

}


div.textContent{
    padding: 0 40px;
}
