div.hide{
  display: none;
}
div.bgOverlay{
  position: absolute;
  top:0;
  left:0;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  padding-top: 70px;
z-index: 1000000000;
}

h5{
padding: 13px 10px;
margin-left: 30px;
width: 50px;
border-style: solid;
border-radius: 20px;
text-align: center;
}

h5:hover{
color: #d35400;
border-color: #d35400;
}

div.menu{
    padding-top: 20px;
  text-align: center;
}

.menu p{
  cursor: pointer;
  background-color: #d35400;
  margin: 5px 50px 0 50px;
  padding: 16px;
}
.menu p:hover{
  background-color: #71BF4F;

}
.menu a {
  color: white;
}
